- content_for :title, 'Deploy'

%dl
  %dt App name
  %dd= link_to @deploy.app.name, app_path(@deploy.app)

  %dt Environment
  %dd= @deploy.environment

  %dt Message
  %dd= auto_link @deploy.message

  %dt Who
  %dd= @deploy.username

  %dt When
  %dd= @deploy.created_at

  %dt Repository
  %dd= link_to_repository @deploy.repository

  %dt Version
  %dd= link_to_commit @deploy.repository, @deploy.short_revision

  - if @deploy.vcs_changes.any?
    %dt Changes
    %dd!= htmlize_changes(@deploy.vcs_changes)
